@if (loading) {
<app-loading
  message="'Carregando dados dos pedidos...'"
  [overlay]="true"
></app-loading>
} @else {
<div class="orders-container">
  <div class="orders-summary">
    <h1><mat-icon>receipt</mat-icon>Pedidos</h1>
    <p>Total de Pedidos: {{ orders.length }}</p>
    <p>Pendente: {{ getPendingOrdersCount() }}</p>
  </div>

  <div class="orders-actions">
    <!-- TODO: Dropdown to filter and Search Box -->
    <button mat-raised-button color="primary" (click)="addOrder()">
      <mat-icon>add</mat-icon>
      Novo Pedido
    </button>
    <button mat-stroked-button (click)="loadData()">
      <mat-icon>refresh</mat-icon>
      Atualizar Lista
    </button>
  </div>
  <section class="orders-list">
    @if (orders.length === 0) {
    <div class="empty-state">
      <mat-icon class="empty-icon">receipt_long</mat-icon>
      <h3>Nenhum pedido encontrado</h3>
      <p>Não há pedidos cadastrados no momento.</p>
    </div>
    } @else { @for (order of getRecentOrders(); track order.id) {
    <mat-card class="order-card" [class.pending]="!order.attended">
      <mat-card-header>
        <mat-card-title>Pedido #{{ order.id }}</mat-card-title>
        <mat-card-subtitle>
          Cliente: {{ getClientName(order) }}
          <br />
          Prato: {{ getDishName(order) }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Preço:</strong>
          {{ order.price | currency : "BRL" : "symbol" : "1.2-2" }}
        </p>
        <p>
          <strong>Status:</strong>
          <span
            [class]="order.attended ? 'status-completed' : 'status-pending'"
          >
            {{ order.attended ? "Atendido" : "Pendente" }}
          </span>
        </p>
        <p>
          <strong>Data:</strong>
          {{ order.createdAt | date : "dd/MM/yyyy" }}
        </p>
        <p>
          <strong>Hora:</strong>
          {{ order.createdAt | date : "HH:mm" }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" (click)="editOrder(order)">
          <mat-icon>edit</mat-icon>
          Editar
        </button>
        <button mat-button color="warn" (click)="removeOrder(order)">
          <mat-icon>delete</mat-icon>
          Excluir
        </button>
        @if (!order.attended) {
        <button mat-button color="primary" (click)="markAsAttended(order)">
          <mat-icon>check_circle</mat-icon>
          Marcar Atendido
        </button>
        } @else {
        <button mat-button color="accent" (click)="markAsUnattended(order)">
          <mat-icon>undo</mat-icon>
          Desmarcar Atendido
        </button>
        }
      </mat-card-actions>
    </mat-card>
    } }
  </section>
</div>
}
